.box{
	height: 100px;
	background-color: red;
	margin-bottom: 5px;
	font-size: 30px;
	color: white;
}
.mh-c{
	height: 400px;
	background-color: pink;
	margin-bottom: 5px;
}
.bi_1{
	color: red;
}
.box2{
	width: 100px;
	height: 100px;
	background-color: #dddddd;
	margin-bottom: 5px;
}
.box1{
	border: 2px solid red;
}